<%- include('../partials/header') %>

<form action="/investments" method="POST" autocomplete="off">
  <input type="text" name="investment">
  <button type="submit">Save</button>
</form>

<%- include('../partials/footer') %>